<configuration>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}"/>
    <property name="APP_NAME" value="${APP_NAME:-payment-service}"/>
    <property name="CONTROLLER_LOG_LEVEL" value="${CONTROLLER_LOG_LEVEL:-INFO}"/>
    <property name="SERVICE_LOG_LEVEL" value="${SERVICE_LOG_LEVEL:-DEBUG}"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%message",
                        "relationId": "%X{relationId}",
                        "appName": "${APP_NAME}",
                        "exception": "%exception{full}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>

    <logger name="com.paymentservice.controller" level="${CONTROLLER_LOG_LEVEL}">
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.paymentservice.service" level="${SERVICE_LOG_LEVEL}">
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.zaxxer.hikari" level="INFO"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
</configuration>
